<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="u_net.Properties.Settings.uidbConnectionString" connectionString="Data Source=128.20.70.215\MSSQLSERVER,1435;Initial Catalog=uidb;User ID=sa;Password=Hbm-0855;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>